@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/*	color: rgba(174,99,228,1);
	letter-spacing: 20px;
	font-family: 'Oxygen', sans-serif;
	line-height: 1em;
*/

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(174,99,228,1);
	padding-bottom: 100px;
	padding-top: 25px;
}

.board {
	border: 1px solid red;
	width: 800px;
	height: 500px;
	margin: 0 auto;
	padding-top: 50px;
/*	background-color: green;*/
}

.gamerinterface {
	text-align: center;
	padding-top: 35px;
	font-family: 'Oxygen', sans-serif;
}
h1 {
	color: rgba(174,99,228,1);
	letter-spacing: 2px;
	font-family: 'Oxygen', sans-serif;
	line-height: 1em;
	text-align: center;
}

.player {
	border: 1px solid red;
	width: 700px;
	height: 200px;
	margin: 0 auto;
	padding-left: 80px;
}

.playercards {
	display: inline-block;
	width: 100px;
	height: 150px;
	border: 1px solid blue;
	text-align: center;
	line-height: 50px;
}

.dealer {
	border: 1px solid red;
	width: 700px;
	height: 200px;
	margin: 0 auto;
	padding-left: 80px;

}
.dealerscards {
	display: inline-block;
	width: 100px;
	height: 150px;
	border: 1px solid blue;
	text-align: center;
	line-height: 50px;
}

.scoreboards {
	position: absolute;
	right: 150px;
	top: 60px;
}

.scoreboard {
	border: 1px solid orange;
	height: 50px;
	width: 100px;
	display: block;
	text-align: center;
	line-height: 50px;	
}

.newgame {
	position: absolute;
	right: 150px;
	font-family: 'Oxygen', sans-serif;
}

h2 {
	padding: 0;
	margin: 0 auto;
	padding-bottom: 25px;
	font-family: 'Oxygen', sans-serif;
}

h4 {
	margin: 0 auto;
	text-align: center;
	padding-right: 80px;
	padding-bottom: 15px;
	padding-top: 5px;
	font-family: 'Oxygen', sans-serif;
}

p {
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
	font-family: 'Oxygen', sans-serif;
	line-height: 10px;
}

.cash {
	margin: 0 auto;
	padding-top: 10px;
	color: green;
	font-size: larger;
}


.winner {
	position: absolute;
	left: 100px;
	top: 100px;
	font-size: 30px;
	color: red;

}










